*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color: var(--letra);
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --fundo : #0a0a0a;
    --detalhe : #5114A6;
    --letra : #f2f2f2;
    --card : #4CD90B;
    --letra-destaque : rgb(0, 0, 255);
    --fundo-card : #360259;
}

body{
    width: 100%;
    height: 90vh;
    line-height: 1.5em;
    background-color: var(--fundo);
}

header.conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
}

nav > ul{
    display: flex;
    gap: 5px;
    margin: 5px;
}

nav li{
    text-decoration: none;
    list-style: none;
    font-size: 0.9em;
}

nav a {
    background-color: var(--detalhe);
    font-size: 1.3em;
    padding: 5px;
    text-decoration: none;
    border-radius: 8px;
    transition: background 0.5s ease;
}

nav a:hover{
    background-color: var(--fundo-card);
    color: var(--letra);
    font-weight: bold;
    padding: 5px;
}

.corletra{
    color: var(--detalhe);
}

main{
   display: grid;
   grid-template-columns: auto 90vw auto;
}

section#ficha{
    grid-column: 2;
    flex-flow: column nowrap;
    margin-top: 15px;
    padding: 15px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
}

section#ficha img#perfil{
  width: 35%;
  aspect-ratio: 1/1;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
  border: 5px solid var(--fundo-card);
  outline: 5px solid var(--detalhe);
  display: block;
  margin: auto;
  margin-bottom: 18px;
}

section#ficha h1,h2, #desen{
    text-align: center;
    font-weight: bolder;
}

#desen{
    font-size: 1.2em;
}

section#ficha #whats{
    background-color: var(--detalhe);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    margin-left: 25%;
    border-radius: 10px;
    transition: background 0.5s ease, color 0.5s;
}

section#ficha #whats:hover{
    background-color: var(--fundo-card);
    color: rgb(255, 255, 255);
}

span.destaque{
    color: var(--detalhe);
}

#curso-conteiner{
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    padding: 15px;
}

div.cursos{
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(21, 4, 22);
    padding: 10px;
    border-radius: 10px;
    border-left: 8px solid var(--fundo-card);
    transition: border-left 0.5s ease, background 0.3s ease;
    cursor: pointer;
}

div.cursos:hover{
    background-color: var(--detalhe);
    border-color: var(--card);
}

div.curso-ano{
    font-weight: bold;
}

div.titulo p {
    color: rgba(0, 0, 255, 0.767);
    font-size: 1.5em;
    font-weight: bold;
}

#curso-conteiner h3{
    font-weight: bold;
    font-size: 1.3em;
}

#projeto-conteiner{
    display: flex;
    flex-direction: column-reverse;
    gap: 25px;
    padding: 15px;
}

#foto{
    width: 100%;
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    overflow: hidden;
    border-radius: 10px;
}

.projeto-card{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 15px;
    background-color: rgb(21, 4, 22);
    border-left: 8px solid var(--detalhe);
    border-radius: 8px;
    transition: background 0.3s ease, border 0.5s ease;
}

.projeto-card:hover{
    background-color: var(--detalhe);
    border-color: var(--card);
}

div.titulo h3{
    color: rgba(74, 74, 255, 0.795);
    font-size: 1.3em;
}

div.info{
    color: var(--letra);
    font-size: 1.2em;
}

div.ano{
    font-size: 1.2em;
    font-weight: bold;
}

div.info summary{
    cursor: pointer;
    text-align: justify;
}

#hab-conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 10px;
    padding: 15px;
}

div.hab-card{
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    height: 120px;
    gap: 5px;
    padding: 10px 5px;
    background-color: rgb(21, 4, 22);
    color: var(--letra);
    border: 3px solid var(--fundo-card);
    border-radius: 8px;
    border-left: 8px solid var(--detalhe);
    transition: background 0.3s ease, border 0.5s ease;
    text-align: center;
}

div.nivel{
   font-weight: bold;
}

div.hab-card:hover{
    background-color: var(--fundo-card);
    border-color: var(--card);
}

footer{
    background-color: rgba(21, 4, 22, 0.295);
    text-align: center;
}

footer a{
    text-decoration: none;
    color: rgba(51, 82, 255, 0.712);
}